<header id="header">
  <h1>Školní intranet Hotelové školy Mariánské Lázně - <%= username || 'Nepřihlášen' %></h1>
  <div class="header-right">
   
    <!-- <button style="cursor: pointer" class="tooltip" data-tooltip="Zpráva" onclick="window.location.href='/fip-upload'">
      <span class="material-icons">message</span>
    </button> -->
   
    <!-- <button class="tooltip" data-tooltip=" Základy informatiky " onclick="window.location.href='/zi-uvod'" style="background-color: #95c2f2;">
      <span class="material-icons">data_object</span>
    </button> -->
    <button class="tooltip" data-tooltip=" Výkaz tisk " onclick="window.location.href='/work-report'" style="background-color: #95c2f2;">
      <span class="material-icons">print</span>
    </button>
    <button class="tooltip" data-tooltip="Nový uživatel" onclick="window.location.href='/new-user'" style="background-color: #95c2f2;">
      <span class="material-icons">person_add</span>
    </button>
    <button class="tooltip" data-tooltip="Dashboard výkaz" onclick="window.location.href='/dashboard-vykaz'" style="background-color: #95c2f2;">
      <span class="material-icons">analytics</span>
    </button>
    <button class="tooltip" data-tooltip="Dashboard" onclick="window.location.href='/dashboard'" style="background-color: #95c2f2;">
      <span class="material-icons">dashboard</span>
    </button>
    <button class="tooltip" data-tooltip="Maturita" onclick="window.location.href='/maturita'" style="background-color: #95c2f2;">
      <span class="material-icons">work</span>
    </button>
    <button class="tooltip" data-tooltip="Školní řád" onclick="window.location.href='/skolni-rad'" style="background-color: #95c2f2;">
      <span class="material-icons">policy</span>
    </button>
    <!-- <button class="tooltip" data-tooltip="Výkaz" onclick="window.location.href='/vykaz'" style="background-color: #95c2f2;">
      <span class="material-icons">bar_chart</span>
    </button> -->
    <!-- <button class="tooltip" data-tooltip="Výkaz info" onclick="window.location.href='/vykaz-info'" style="background-color: #95c2f2;">
      <span class="material-icons">data_thresholding</span>
    </button> -->
    <button class="tooltip" data-tooltip="Výkaz tabulka" onclick="window.location.href='/vykaz-system'" style="background-color: #95c2f2;;">
      <span class="material-icons">area_chart</span>
    </button>
    <button class="tooltip" data-tooltip="Organizace roku" onclick="window.location.href='/kalendar'" style="background-color: #38d0c0;">
      <span class="material-icons">format_list_numbered</span>
    </button>
    <button class="tooltip" data-tooltip="Generátor dokumentů" onclick="window.location.href='/generator-dokumentu'" style="background-color: #38d0c0;">
      <span class="material-icons">assignment_add</span>
    </button>
    <button class="tooltip" data-tooltip="Dokumenty školy" onclick="window.location.href='/dokumenty-skoly'" style="background-color: #38d0c0;">
      <span class="material-icons">find_in_page</span>
    </button>
  </div>
  <!-- <button class="tooltip" data-tooltip="Poslat zprávu" onclick="window.location.href='/fip-upload'"><span class="material-icons">home</span></button> -->

  <!-- on vlastne header jako takovej neni, jsou to jen ty button odkazy, ale vypada to amatersky... musim tad dat klasickej header -->
   <div id="popup" style="
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background:white;
  padding:20px;
  border:1px solid black;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
">
  <p>cv,zahrady-stavby,vykaz-tabulka,vykaz-info,vykaz,maturita,js-uvod</p>
  <button onclick="closePopup()">Zavřít</button>
</div>

<script>
  let clickCount = 0;
const div = document.getElementById("header");
const popup = document.getElementById("popup");

div.addEventListener("click", () => {
  clickCount++;

  if (clickCount === 8) {
    popup.style.display = "block";
    clickCount = 0; // reset (volitelné)
  }
});

function closePopup() {
  popup.style.display = "none";
}
</script>
</header>
