<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>FIP/FIPV</title> -->
    <title></title>
    <!-- SEO -->
      <!-- <meta name="description" content="Finanční a pojistné výpočty - materiály, příklady a kalkulačky pro studenty VŠE v Plzni (Cheb)"> -->



    <!-- <script src="../public/js/fip/fetch.js"></script> -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/section.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <!-- material design icons -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

    <!-- favicona, kdyz se neprojevi hned tak smazat cashe, asi staci jen na jednu routu -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Google API -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- <script src="../public/js/fip/cookies.js"></script> -->
    <!-- <script src="js/fip/upload.js"></script> -->
    <!-- <script src="../public/js/fip/googleLogin.js"></script> -->
    <!-- <script src="../../public/js/fip/cookies.js"></script> -->
    <!-- <script src="../../public/js/fip/fetch.js"></script> -->
    <!-- <script src="../../public/js/global/tooltip.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script> -->
    <!-- <script defer src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script> -->
    
<!-- <script type="module" src="/class/UvazkyInputHandler.js"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>