/* nova navigace */
  .toolbar{
    display:flex;
    gap:12px;
    align-items:flex-start;
    flex-wrap:wrap;
    flex-direction: row-reverse;
    margin-top:10px;
    margin-bottom: 26px;
}

.tool{
    width:90px;
    text-decoration:none;
    color:#222;
    text-align:center;
    font-family:Roboto,sans-serif;
    
}



.tool .material-symbols-rounded{
    width:48px;
    height:48px;
    border-radius:14px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 8px;
    color:#fff;
    font-size:30px;
    box-shadow:0 3px 10px rgba(0,0,0,.18);
    transition:.2s;
}

.tool span:last-child{
    display:block;
    font-size:14px;
    font-weight:500;
    line-height:1.25;
}

.tool:hover .material-symbols-rounded{
    transform:translateY(-2px);
    box-shadow:0 6px 18px rgba(0,0,0,.22);
}

.blue .material-symbols-rounded{
    background:#2196F3;
}

.teal .material-symbols-rounded{
    background:#14B8A6;
}

.purple .material-symbols-rounded{
    background:#7C3AED;
}

.white .material-symbols-rounded{
    background:#fff;
    color:#666;
    border:1px solid #ddd;
}